.addTimerModal {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1;
}

.date {
	height: 30px;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 240px;
	margin-top: auto;
}
