.listItemContent {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	white-space: nowrap;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.title {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 15px;

	user-select: none;
}

.button {
	cursor: pointer;
	border: none;
	background-color: rgba(1, 1, 1, 0);
}
