.button {
	box-sizing: border-box;
	border: none;
	width: 180px;
	height: 33px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
	padding-left: 15px;
	font-size: 20px;
	cursor: pointer;

	&:hover {
		background-color: #ccc;
	}
}

.img {
	width: 19px;
	height: 16px;
}
