.menu {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	width: 500px;
	border-left: 1px solid #C8C8C8;
	box-sizing: border-box;
	background-color: #F9F9F9;
	padding: 45px;
	transform: translateX(500px);
	transition: transform 1s;
}

.menuActive {
	transform: translateX(0);
}
