@use "../../menu";

.menu {
	position: fixed;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	top: menu.$top;
	right: 0;
	bottom: 0;
	width: menu.$width + vw;
	// height: 100%;
	border-left: 1px solid var(--border-color);
	box-sizing: border-box;
	padding: 40px;
	transform: translateX(100%);
	transition: transform 1s;

	background-color: var(--bg-color);

	@media screen and (max-width: 991px) {
		padding: 30px;
	}

	@media screen and (max-width: 767px) {
		padding: 20px;
		width: 100%;
	}

	@media screen and (max-width: 575px) {
		//padding: 20px;
	}
}

.menuActive {
	transform: translateX(0);
}
