@use "../../menu";

.menu {
	position: absolute;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	top: menu.$top;
	right: 0;
	bottom: 0;
	width: menu.$width + vw;
	border-left: 1px solid #C8C8C8;
	box-sizing: border-box;
	background-color: #F9F9F9;
	padding: 40px;
	transform: translateX(100%);
	transition: transform 1s;

	&Active {
		transform: translateX(0);
	}
}
