@use "sass:math";

.main {
	display: flex;
  flex-direction: column;
	flex-grow: 1;
}

.clockWrapper {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: width 0.8s;
	box-sizing: border-box;
	padding-bottom: 10px;
}

.clockWrapper_menuActive {
	@media (min-width: 767px) {
		width: calc((1220 / 1920) * 100 * 1vw);
	}
}

.currentTimer {
	visibility: hidden;
	opacity: 0;
	position: absolute;

	&_visible {
		visibility: visible;
		opacity: 1;
	}
}

.secondHand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 14%;
	width: 2%;
	height: 46%;
}

.minuteHand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 16%;
	width: 4%;
	height: 46%;
}

.hourHand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 32%;
	width: 5%;
	height: 24%;
}
