@use "sass:math";

.main {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.clockWrapper {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: width 0.8s;
	box-sizing: border-box;
	padding-bottom: 10px;
}

.clockWrapper_menuActive {
	@media (min-width: 767px) {
		width: calc((1220 / 1920) * 100 * 1vw);
	}
}

.currentTimer {
	position: absolute;
	top: 15px;
	left: 15px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s, visibility 0.3s;
}

.currentTimer_active {
	visibility: visible;
	opacity: 1;
}

.secondHand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 15%;
	width: 1%;
	height: 44%;

	background: #B8FF20;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px 10px 5px 5px;
}

.minuteHand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 16%;
	width: 3%;
	height: 44%;

	background: #595959;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px 15px 5px 5px;
}

.hourHand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 32%;
	width: 4%;
	height: 23%;

	background: #FF3636;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px 15px 5px 5px;
}
