@use "sass:math";

.main {
	height: calc(100% - 50px);
}

.clockWrapper {
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 1s;

	&_width_cut {
		width: math.div(1220px, 1920px) * 100 + vw;
	}

	&_width_full {
		width: 100%;
	}
}
