.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
	cursor: pointer;

	&_visible {
		visibility: visible;
		opacity: 1;
	}
}

.content {
	width: 655px;
	height: 555px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 45px;
	border-radius: 10px;
	cursor: auto;
}

.title {
	text-align: center;
}
