.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.content {
	width: 655px;
	height: 555px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 45px;
}

.title {
	text-align: center;
}
