@use "sass:math";
@use "../../menu";

$burgerOffset: - math.div(menu.$width, 2) + vw;

.header {
	font-family: 'Itim', cursive;
	display: flex;
	justify-content: space-between;
	padding-left: 100px;
	height: menu.$top;
	border-bottom: 1px solid #C8C8C8;
	align-items: center;
	box-sizing: border-box;
}

.title {
	font-size: 30px;
	font-weight: normal;
	color: #007BB0;
}

.burger {
	border: none;
	cursor: pointer;
	padding: 0;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 50%;
	transform: translateX(calc($burgerOffset + 20px));
	transition: transform 1s, background-color 1s;

	&Active {
		background-color: #F9F9F9;
	}
}
