.header {
	font-family: 'Itim', cursive;
	display: flex;
	justify-content: space-between;
	padding: 0 100px;
	height: 50px;
	border-bottom: 1px solid #C8C8C8;
	align-items: center;
	box-sizing: border-box;

	.appName {
		font-size: 30px;
		font-weight: normal;
		color: #007BB0;
	}

	.burgerMenu {
		border: none;
		cursor: pointer;
		padding: 0;
		width: 40px;
		height: 40px;
		background-color: #fff;
		border-radius: 50%;
		transform: translateX(0);
		transition: transform 1s, background-color 1s;
	}

	.burgerActive {
		background-color: #F9F9F9;
		transform: translateX(-140px);
	}
}
