@use "sass:math";

$mainWidth: math.div(1220px, 1920px) * 100 + vw;

$clockSize: 600px;
$clockSize-991: 550px;
$clockSize-575: 450px;
$clockSize-420: 350px;

.clock {
	position: relative;

	width: $clockSize;
	height: $clockSize;

	border-radius: 50%;

	user-select: none;

	z-index: -1;

	@media screen and (max-width: 991px) {
		width: $clockSize-991;
		height: $clockSize-991;
	}

	@media screen and (max-width: 575px) {
		width: $clockSize-575;
		height: $clockSize-575;
	}

	@media screen and (max-width: 420px) {
		width: $clockSize-420;
		height: $clockSize-420;
	}

	&Button {
		cursor: pointer;
	}
}

.hourWrapper {
	position: absolute;
	top: 1em;
	left: calc(50% - 1em);
	transform-origin: 50% calc(300px - 1em);
	transform: rotate(0deg);

	@media screen and (max-width: 991px) {
		transform-origin: 50% calc(275px - 1em);
	}

	@media screen and (max-width: 575px) {
		transform-origin: 50% calc(225px - 1em);
	}

	@media screen and (max-width: 420px) {
		transform-origin: 50% calc(175px - 1em);
	}
}

.hourWrapperDouble {
	left: calc(50% - 1.5em);
}

.hourWrapper:nth-child(1) {
	transform: rotate(0deg);
}

.hourWrapper:nth-child(2) {
	transform: rotate(30deg);
}

.hourWrapper:nth-child(3) {
	transform: rotate(60deg);
}

.hourWrapper:nth-child(4) {
	transform: rotate(90deg);
}

.hourWrapper:nth-child(5) {
	transform: rotate(120deg);
}

.hourWrapper:nth-child(6) {
	transform: rotate(150deg);
}

.hourWrapper:nth-child(7) {
	transform: rotate(180deg);
}

.hourWrapper:nth-child(8) {
	transform: rotate(210deg);
}

.hourWrapper:nth-child(9) {
	transform: rotate(240deg);
}

.hourWrapper:nth-child(10) {
	transform: rotate(270deg);
}

.hourWrapper:nth-child(11) {
	transform: rotate(300deg);
}

.hourWrapper:nth-child(12) {
	transform: rotate(330deg);
}

.hour {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;

	color: rgb(56, 183, 132);

	@media screen and (max-width: 991px) {
		font-size: 30px;
	}
}

.hourWrapper:nth-child(2)>.hour {
	transform: rotate(-30deg);
}

.hourWrapper:nth-child(3)>.hour {
	transform: rotate(-60deg);
}

.hourWrapper:nth-child(4)>.hour {
	transform: rotate(-90deg);
}

.hourWrapper:nth-child(5)>.hour {
	transform: rotate(-120deg);
}

.hourWrapper:nth-child(6)>.hour {
	transform: rotate(-150deg);
}

.hourWrapper:nth-child(7)>.hour {
	transform: rotate(-180deg);
}

.hourWrapper:nth-child(8)>.hour {
	transform: rotate(-210deg);
}

.hourWrapper:nth-child(9)>.hour {
	transform: rotate(-240deg);
}

.hourWrapper:nth-child(10)>.hour {
	transform: rotate(-270deg);
}

.hourWrapper:nth-child(11)>.hour {
	transform: rotate(-300deg);
}

.hourWrapper:nth-child(12)>.hour {
	transform: rotate(-330deg);
}

.center {
	position: absolute;
	left: calc(50% - 5px);
	top: calc(50% - 5px);
}

.secondHandWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.minuteHandWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.hourHandWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}
