@use "sass:math";

$mainWidth: math.div(1220px, 1920px) * 100 + vw;

$clockSize: 600px;

.clock {
	position: relative;

	width: $clockSize;
	height: $clockSize;

	border-radius: 50%;
}

.hourWrapper {
	position: absolute;
	//left: calc(50% - 50px);
	// top: 50%;
	top: 1em;
	left: calc(50% - 1.5em);
	transform-origin: 50% calc(300px - 1em);
	transform: rotate(0deg);
}

.hourWrapper:nth-child(1) {
	transform: rotate(0deg);
}

.hourWrapper:nth-child(2) {
	transform: rotate(30deg);
}

.hourWrapper:nth-child(3) {
	transform: rotate(60deg);
}

.hourWrapper:nth-child(4) {
	transform: rotate(90deg);
}

.hourWrapper:nth-child(5) {
	transform: rotate(120deg);
}

.hourWrapper:nth-child(6) {
	transform: rotate(150deg);
}

.hourWrapper:nth-child(7) {
	transform: rotate(180deg);
}

.hourWrapper:nth-child(8) {
	transform: rotate(210deg);
}

.hourWrapper:nth-child(9) {
	transform: rotate(240deg);
}

.hourWrapper:nth-child(10) {
	transform: rotate(270deg);
}

.hourWrapper:nth-child(11) {
	transform: rotate(300deg);
}

.hourWrapper:nth-child(12) {
	transform: rotate(330deg);
}

.hour {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;

	color: pink;
	// background-color: #565656;
	// color: transparent;
	// text-shadow: 1px 2px 3px rgba(255, 255, 255, 1);
	// -webkit-background-clip: text;
	// -moz-background-clip: text;
	// background-clip: text;
}

.hourWrapper:nth-child(2)>.hour {
	transform: rotate(-30deg);
}

.hourWrapper:nth-child(3)>.hour {
	transform: rotate(-60deg);
}

.hourWrapper:nth-child(4)>.hour {
	transform: rotate(-90deg);
}

.hourWrapper:nth-child(5)>.hour {
	transform: rotate(-120deg);
}

.hourWrapper:nth-child(6)>.hour {
	transform: rotate(-150deg);
}

.hourWrapper:nth-child(7)>.hour {
	transform: rotate(-180deg);
}

.hourWrapper:nth-child(8)>.hour {
	transform: rotate(-210deg);
}

.hourWrapper:nth-child(9)>.hour {
	transform: rotate(-240deg);
}

.hourWrapper:nth-child(10)>.hour {
	transform: rotate(-270deg);
}

.hourWrapper:nth-child(11)>.hour {
	transform: rotate(-300deg);
}

.hourWrapper:nth-child(12)>.hour {
	transform: rotate(-330deg);
}

.secondHand {
	position: absolute;
	left: calc(50% - 6px);
	top: 14%;
}

.minuteHand {
	position: absolute;
	left: calc(50% - 11.75px);
	top: 16%;
}

.hourHand {
	position: absolute;
	left: calc(50% - 15.25px);
	top: 32%;
}

.center {
	position: absolute;
	left: calc(50% - 5px);
	top: calc(50% - 5px);
}

.secondHandWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.minuteHandWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.hourHandWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}
