.summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	list-style: none;
	background: rgba($color: #000000, $alpha: 0.0);
	border-bottom: 1px solid var(--border-color);
	height: 73px;
	margin-bottom: 20px;
	padding: 0 15px;
	user-select: none;
}

.title {
	display: inline;
}

.arrow {
	transition: transform 0.3s;

	&Open {
		transform: rotateZ(180deg);
	}
}

.buttonsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 20px;
}

.list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 0;
}
